
.container{
  border: 1px solid black;
  background-color: white;
  color: black;
  z-index:2;
  position: relative;
  width: 500px;
  padding: 15px;
  float: right;
  margin-top: -1430px;
  margin-right: 15px;
  text-align: right;
}